body {
	/*background-color: #F0F0F0;*/
	padding: 2em;
	font-family: 'Raleway', 'Source Sans Pro', 'Arial';
}

img {
	zoom: 25%;
	/*display: block;*/
}

fieldset{
	width: 50%;
	margin: 0 auto;
	text-align: left;
	background-color: #F0F0F0;
}

form
{
    text-align: center;
}
.container {
	width: 50%;
	margin: 0 auto;
}

